.custom-team-button {
  margin: 4px 8px;
}

.custom-dropdown-button {
  border: 0;
  margin-left: 4px;
}

.custom-task-dropdown-button {
  border: 0;
  margin-left: -2px;
}

.add-task-button {
  color: SteelBlue;
  margin-top: 2px;
}

.custom-form-textarea {
  padding: 4px;
  font-size: 12px;
  min-height: 80px;
}
