.custom-team-button {
  margin: 4px 8px;
}

.custom-dropdown-button {
  border: 0;
  font-weight: 600;
  color: green;
  font-size: 18px;
  margin-top: -4px;
}

.custom-task-dropdown-button {
  border: 0;
}

.add-task-button {
  color: SteelBlue;
  margin-top: 2px;
}

.custom-overloaded-alert {
  text-align: center;
  padding: 4px 8px;
  display: table;
  margin: 0 auto;
}
